---
import { Button, Icon } from 'webcoreui/astro'

import Layout from '@components/Layout.astro'
---

<Layout>
	<h1 class="flex center md">
		Welcome to <img src="logo.svg" width="160" />
	</h1>
	<p>
		Edit <code>pages/index.astro</code> to get started.
		For documentation, visit <a href="https://webcoreui.dev" target="_blank">webcoreui.dev</a>
	</p>
	<div class="flex justify-center xs">
		<Button href="https://webcoreui.dev" target="_blank">
			Get Started
		</Button>
		<Button
			href="https://github.com/Frontendland/webcoreui"
			target="_blank"
			theme="secondary"
		>
			<Icon type="github" size={20} />
			GitHub
		</Button>
	</div>
</Layout>

<style lang="scss">
	@import 'webcoreui/config';

	p {
		@include typography(center);
    }
</style>
