<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Webcore Astro Integration" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <title>Webcore Astro Integration</title>
    </head>
    <body>
        <main class="container">
            <slot />
        </main>
    </body>
</html>

<style lang="scss" is:global>
    @use 'webcoreui/styles' as *;
    
    @include setup((
        fontRegular: '/fonts/Inter-Regular.woff2',
        fontBold: '/fonts/Inter-Bold.woff2',
            themes: (
          dark: '.theme-dark',
        light: '.theme-light',
        midnight: '.theme-blue',
        vintage: '.theme-vintage',
        amber: '.theme-yellow',
        synthwave: '.theme-synthwave',
        velvet: '.theme-velvet'
    )
    ));
</style>
